[data-item-section="content"] {
  white-space: nowrap;
}

[data-truncate-group-container],
[data-truncate-group-container] > div,
[data-truncate-container],
[data-truncate-grid],
[data-truncate-grid] > div:not([data-truncate-marker-cell]):not([data-truncate-fill]),
[data-truncate-content="visible"] {
  display: inline;
}

[data-truncate-content="overflow"],
[data-truncate-fill],
[data-truncate-marker-cell] {
  display: none;
}
